*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font, sans-serif;
  background-color: $bkg-color;
  color: $text-color;
}

.App {
  padding: 0 3rem;

  @media (max-width: 40em) {
    padding: 0;
  }
}

/**************************************
  Typography
**************************************/

h1 {
  font-size: 3rem;

  @media (max-width: 40em) {
    font-size: 1.6rem;
  }
}

h2 {
  @media (max-width: 40em) {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

p {
  line-height: 2;
  letter-spacing: 3px;

  @media (max-width: 40em) {
    font-size: 0.75rem;
    letter-spacing: 2px;
  }
}

/**************************************
  Container
**************************************/

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;

    .column {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  @media (max-width: 40em) {
    padding: 2rem;
    margin: 10vh 0;

    .row {
      flex-direction: column;

      .column {
        width: 100%;
      }
    }
  }
}

/**************************************
  Button
**************************************/

.btn {
  background-color: $btn-bkgcolor;
  padding: 0.5rem;
  color: $btn-textcolor;
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: none;
  transition: background-color 0.6s;

  &:hover {
    background-color: darken($btn-bkgcolor, 20);
  }

  @media (max-width: 40em) {
    font-size: 1rem;
  }
}

/**************************************
  Navigation
**************************************/

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 3rem;
  width: 100%;

  @media (max-width: 40em) {
    background-color: black;
    margin: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .site-title {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }
}

/**************************************
  Image list
**************************************/

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  width: 100%;
  min-height: 80vh;

  .imageLink__box {
    .image-box {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 100%;

      .image-label {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $imgOverlay;
        color: $text-color;
        padding: 1rem;
      }
    }
  }
}

/**************************************
  Detail page
**************************************/
.detail-page {
  .column {
    .image-wrapper {
      display: flex;
      justify-content: flex-end;
      position: relative;

      &.image-wrapper-mobile {
        padding: 1rem 0;
      }

      .apod-image {
        width: 90%;

        @media (max-width: 40em) {
          width: 100%;
        }
      }
    }
  }
}

/**************************************
  Loader
**************************************/

.loader {
  position: fixed;
  width: 100vw;
  height: 50vh;
  color: aliceblue;
  background-color: black;
  font-size: 3rem;
  display: flex;
  align-items: center;

  span {
    position: absolute;
    top: 50%;
    left: 30%;
  }
}
