@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

$font: 'Orbitron';
$bkg-color: black;
$text-color: white;

$btn-textcolor: black;
$btn-bkgcolor: white;

$imgOverlay: #00000087;